.todoBox {
  width: 13%;
  margin: 0px auto;
}

.statusBox {
  width: 10px;
  height: 18px;
  margin: 3px 10px 0px 0px;
}

.displayTodoTask {
  display: flex;
  margin: 10px 0px;
  position: relative;
}

.inputTag {
  width: 180px;
  font-weight: inherit;
  font-size: inherit;
}

.text {
  width: 153px;
  font-size: 20px;
  overflow: scroll;
  cursor: pointer;
  user-select: none;
}

.todo .statusBox {
  background-color: lightblue;
}
.doing .statusBox {
  background-color: orange;
}
.done .statusBox {
  background-color: mediumseagreen;
}

.done .text {
  text-decoration: line-through;
}

.header {
  font-weight: 800;
  margin: 20px 0px;
  font-size: large;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.deleteBtn {
  position: absolute;
  top: 0px;
  right: 0;
  color: gray;
  font-weight: 700;
  margin: 3px 0px;
  display: none;
  cursor: pointer;
}

.displayTodoTask:hover .deleteBtn {
  display: block;
}

.header:hover .deleteBtn {
  display: block;
}
